[submodule "pack/github/start/vim-lsp"]
	path = pack/github/start/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp
[submodule "pack/github/start/vim-unimpaired"]
	path = pack/github/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired
[submodule "pack/github/start/vim-projectionist"]
	path = pack/github/start/vim-projectionist
	url = git@github.com:tpope/vim-projectionist
[submodule "pack/github/start/vim-repeat"]
	path = pack/github/start/vim-repeat
	url = git@github.com:tpope/vim-repeat
[submodule "pack/github/start/vim-surround"]
	path = pack/github/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "pack/github/start/vim-fugitive"]
	path = pack/github/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "pack/github/start/vim-commentary"]
	path = pack/github/start/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule "pack/github/start/vim-code-dark"]
	path = pack/github/start/vim-code-dark
	url = git@github.com:tomasiser/vim-code-dark
[submodule "pack/github/start/fzf.vim"]
	path = pack/github/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim
[submodule "pack/github/start/vim-dispatch"]
	path = pack/github/start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch
[submodule "pack/github/start/terminus"]
	path = pack/github/start/terminus
	url = git@github.com:wincent/terminus
