[submodule "pack/github/start/vim-lsp"]
	path = pack/github/start/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp
[submodule "pack/github/start/vim-unimpaired"]
	path = pack/github/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired
[submodule "pack/github/start/vim-projectionist"]
	path = pack/github/start/vim-projectionist
	url = git@github.com:tpope/vim-projectionist
[submodule "pack/github/start/vim-repeat"]
	path = pack/github/start/vim-repeat
	url = git@github.com:tpope/vim-repeat
[submodule "pack/github/start/vim-surround"]
	path = pack/github/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "pack/github/start/vim-fugitive"]
	path = pack/github/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "pack/github/start/vim-commentary"]
	path = pack/github/start/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule "pack/github/start/vim-code-dark"]
	path = pack/github/start/vim-code-dark
	url = git@github.com:tomasiser/vim-code-dark
[submodule "pack/github/start/vim-dispatch"]
	path = pack/github/start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch
[submodule "pack/github/start/terminus"]
	path = pack/github/start/terminus
	url = git@github.com:wincent/terminus
[submodule "pack/github/start/vim-gruvbox8"]
	path = pack/github/start/vim-gruvbox8
	url = git@github.com:lifepillar/vim-gruvbox8
[submodule "pack/github/start/vim-sleuth"]
	path = pack/github/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth
[submodule "pack/github/start/vim-dadbod"]
	path = pack/github/start/vim-dadbod
	url = git@github.com:tpope/vim-dadbod
[submodule "pack/github/start/vim-polyglot"]
	path = pack/github/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot
[submodule "pack/github/start/coc.nvim"]
	path = pack/github/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim
[submodule "pack/github/start/vim-colors-plain"]
	path = pack/github/start/vim-colors-plain
	url = git@github.com:andreypopp/vim-colors-plain
[submodule "pack/github/start/gv.vim"]
	path = pack/github/start/gv.vim
	url = git@github.com:junegunn/gv.vim
[submodule "pack/github/start/vim-speeddating"]
	path = pack/github/start/vim-speeddating
	url = git@github.com:tpope/vim-speeddating
